<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ccooy.gameframe">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".basictest.AndroidBasicsStarter" />
        <activity android:name=".basictest.LifeCycleTest" />
        <activity android:name=".basictest.SingleTouchTest" />
        <activity android:name=".basictest.MultiTouchTest" />
        <activity android:name=".basictest.KeyTest" />
        <activity android:name=".basictest.AccelerometerTest" />
        <activity android:name=".basictest.AssetsTest" />
        <activity android:name=".basictest.ExternalStorageTest" />
        <activity android:name=".basictest.SoundPoolTest" />
        <activity android:name=".basictest.MediaPlayerTest" />
        <activity android:name=".basictest.FullScreenTest" />
        <activity android:name=".basictest.RenderViewTest" />
        <activity android:name=".basictest.ShapeTest" />
        <activity android:name=".basictest.BitmapTest" />
        <activity android:name=".basictest.FontTest" />
        <activity android:name=".basictest.SurfaceViewTest" />

        <activity android:name=".mrnom.MrNomGame" />

        <activity android:name=".glbasics.GLBasicsStarter" />
        <activity android:name=".glbasics.GLSurfaceViewTest" />
        <activity android:name=".glbasics.GLGameTest" />
        <activity android:name=".glbasics.FirstTriangleTest" />
        <activity android:name=".glbasics.TransTriangleTest" />
        <activity android:name=".glbasics.ColoredTriangleTest" />
        <activity android:name=".glbasics.SquareTest" />
        <activity android:name=".glbasics.TexturedTriangleTest" />
        <activity android:name=".glbasics.IndexedTest" />
        <activity android:name=".glbasics.CircleTest" />
        <activity android:name=".glbasics.BlendingTest" />
        <activity android:name=".glbasics.BobTest" />


        <activity android:name=".test.gamedev2d.GameDev2DStarter" />
        <activity android:name=".test.gamedev2d.AnimationTest" />
        <activity android:name=".test.gamedev2d.Camera2DTest" />
        <activity android:name=".test.gamedev2d.CannonTest" />
        <activity android:name=".test.gamedev2d.CannonGravityTest" />
        <activity android:name=".test.gamedev2d.CollisionTest" />
        <activity android:name=".test.gamedev2d.SpriteBatcherTest" />
        <activity android:name=".test.gamedev2d.TextureAtlasTest" />

        <activity android:name=".testa.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testa.render.FGLViewActivity" />
        <activity android:name=".testa.ChooseActivity" />
        <activity android:name=".testa.image.SGLViewActivity" />
        <activity android:name=".testa.vary.VaryActivity" />
        <activity android:name=".testa.camera.CameraActivity" />
        <activity android:name=".testa.camera.Camera2Activity" />
        <activity android:name=".testa.camera.Camera3Activity" />
        <activity android:name=".testa.etc.ZipActivity" />
        <activity android:name=".testa.fbo.FBOActivity" />
        <activity android:name=".testa.egl.EGLBackEnvActivity" />
        <activity android:name=".testa.obj.ObjLoadActivity" />
        <activity android:name=".testa.obj.ObjLoadActivity2" />
        <activity android:name=".testa.vr.VrContextActivity" />
        <activity android:name=".testa.blend.BlendActivity" />
        <activity android:name=".testa.light.LightActivity" />
    </application>

</manifest>